@font-face {
    font-family: 'monogram';
    src: url('/src/assets/fonts/monogram-extended.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'monogram italic';
    src: url('/src/assets/fonts/monogram-extended-italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'boldpixels';
    src: url('/src/assets/fonts/boldpixels.otf') format('opentype');
    font-style: normal;
}